.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.section-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.section-header .logo-nav {
    width: auto;
    height: 100px;
}

.section-header .navbar ul li a {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.section-background {
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section-background::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(78deg, rgba(26,18,11,0.9) 40%, rgba(60,42,33,0.7) 100%);
}

.section-background .title {
    position: relative;
    z-index: 1;
}

.section-background .title h1 {
    color: #E5E5CB;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.section-background .title h2 {
    color: #E5E5CB;
}

.section-background .title p {
    color: #fff;
    margin: 30px 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item .buttonLogin {
    display: block;
    background-color: #2e2019;
    color: #ededd5 !important;
    border-radius: 30px;
    width: 120px;   
    text-align: center;
    transition: all 0.5s;
    border: 2px solid #E5E5CB;
}

.nav-item .buttonLogin:hover {
    background-color: #1A120B;
    color: #ededd5 !important;
}

.title .buttonBuy {
    display: block;
    background-color: #2e2019;
    color: #ededd5 !important;
    width: 220px;   
    text-align: center;
    transition: all 0.5s;
    height: 50px;
    line-height: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid #ededd5;
}

.title .buttonBuy:hover {
    background-color: #000;
    transform: translateY(-10px);
    border: 2px solid #ededd5;
}

.section-info {
    background-color: #1A120B;
}

.section-info .description {
    max-width: 80%;
}

.section-info .description h1 {
    color: #E5E5CB;
}

.section-info .description p {
    color: #fff;
}

.section-info img {
    opacity: 0.4;
    transition: all 0.5s;
}

.section-info img:hover {
    opacity: 0.8;
}

.section-service {
    background-color: #1A120B;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-service .title h1 {
    color: #E5E5CB;
    letter-spacing: 2px;
}

.section-service .benefits img{
    border:8px solid #3C2A21;
    background-color: #E5E5CB;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    display: block;
}

.section-service .benefits h5{
    color: #E5E5CB;
}

.section-next {
    background-color: #1A120B;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-next .title h2 {
    color: #E5E5CB;
    letter-spacing: 1px;
}

.section-next p {
    color: #fff;
}

.section-next .background-image h2 {
    color: #E5E5CB;
    z-index: 1;
    position: relative;
}

.faq {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2e2019;
}

.faq .title h2 {
    color: #E5E5CB;
    text-align: center;
    margin-bottom: 40px;
}

.faq .accordion {
    border: 5px solid #E5E5CB;
    border-radius: 15px;
}

.accordion-button:not(.collapsed) {
    background-color: #2e2019 !important;
    color: #fff !important;
}

.accordion-button::after {
    display: none !important;
}

.section-ticket {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-ticket .title h2 {
    font-size: 40px;
    color:#1A120B;
    font-weight: 600;
    text-transform: capitalize;
}

.section-ticket .card-img, .card-img-top {
    height: 200px;
    object-fit: cover;
}

.section-ticket .card a {
    color: #2e2019;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.section-ticket .card {
    box-shadow: 10px 10px 21px -11px rgba(46,32,25,0.75);
-webkit-box-shadow: 10px 10px 21px -11px rgba(46,32,25,0.75);
-moz-box-shadow: 10px 10px 21px -11px rgba(46,32,25,0.75);
border: none;
}